<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Adopt-A-Dog</title>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script type="text/javascript" src="../scripts/gallery.js"></script>
		<link rel="stylesheet" type="text/css" href="../styles/main.css">
		<link rel="stylesheet" type="text/css" href="../styles/menu.css">
		<style>
			.dog.highlight {
				color: black;
				font-weight: bold;
			}
		</style>
	</head>
	<body>
		<header>
			<div class="header_bar">
				<nav>
					<div class="drop_container">
						<div class="drop_home"><img src="../img/single_paw.png" height=50px width=50px /></div>
						<div class="menu_items">
							<a href="../index.html">Home</a>
							<a href="./gallery.html">Dog Photos</a>
							<a href="./application.html">Adoption Application</a>
						</div>
					</div>	
				</nav>
				<div style="width: 100%; text-align: center;"><h1>Adopt-A-Dog</h1></div>
			</div>
		</header>
		<div class="main_container">
			<h1>Doggy Gallery</h1>
			<div class="grid_wrapper">
				<!-- first row -->
				<div class="dog"><img src="../img/pug.jpg" height=100 /><br />Pug</div>
				<div class="dog"><img src="../img/puppy.jpg" height=100 /><br />Puppy</div>
				<div class="dog"><img src="../img/vizsla.jpg" height=100 /><br />Vizsla</div>
				<div class="dog"><img src="../img/weimaraner.jpg" height=100 /><br />Weimaraner</div>
				<!-- second row -->
				<div class="dog"><img src="../img/blacklab.jpg" height=100 /><br />Black Lab</div>
				<div class="dog"><img src="../img/bulldog.jpg" height=100 /><br />Bulldog</div>
				<div class="dog"><img src="../img/dalmatian.jpg" height=100 /><br />Dalmatian</div>
				<div class="dog"><img src="../img/spaniel.jpg" height=100 /><br />Spaniel</div>
				<!-- third row -->
				<div class="dog"><img src="../img/twins.jpg" height=100 /><br />2 for 1!</div>
				<div class="dog"><img src="../img/doberman.jpg" height=100 /><br />Doberman</div>
				<div class="dog"><img src="../img/husky.jpg" height=100 /><br />Husky</div>
				<div class="dog"><img src="../img/mixed.jpg" height=100 /><br />Mixed Breed</div>
				<!-- fourth row -->
				<div class="dog"><img src="../img/chihuahua.jpg" height=100 /><br />Chihuahua</div>
				<div class="dog"><img src="../img/pibble.jpg" height=100 /><br />Pibble</div>
				<div class="dog"><img src="../img/shiba.jpg" height=100 /><br />Shiba</div>
				<div class="dog"><img src="../img/boxer.jpg" height=100 /><br />Boxer</div>
			</div>
		</div>	
		<footer>
			<span>Copyright &copy; 2019</span>
		</footer>
</html>